
.title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

.inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 40px;
}

.print {
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.print:hover {
  opacity: 0.8;
  transform: scale(1.08);
}

/* .print:hover::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-color: red;
  width: 10px;
  height: 10px;
} */

.print img {
  border-radius: 4px;
}

.text {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 0%;
  background-color: #eee;
  font-size: 14px;
  font-style: italic;
  opacity: 0.5;
  overflow: hidden;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.print:hover .text {
  width: 94%;
  padding: 7px;
}