
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid #eee;
}

.logo {
  cursor: pointer;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header ul {
  display: flex;
  align-items: center;
}

.header li {
  margin: 0 25px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  list-style: none;
  text-transform: uppercase;
}

.cart {
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  list-style: none;
  text-transform: uppercase;
}